body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }

header {
    display: block;
    background-color: #FFFFFF;
    color: #2E2F42;
    height: 72px;
    align-content: center;
}

.header-block {
    display: block;
    margin-left: 156px;
}

.logo {
    font-family: "Raleway", sans-serif;
    display: inline-block;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 50px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.webspan {
    color: #2e2f42;
}

.heder-nav {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.header-nav-menu {
    display: inline-block;
}


.header-nav-menu>li {
    display: inline;
    list-style-type: none;
    width: 66px;
    margin-left: 24px;
    margin-right: 24px;
}


.header-nav-menu .link {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #2E2F42;
}

.header-nav-menu .link:hover{
    color: #404BBF;
}

.header-addr {
    display: inline;
    margin-right: 24px;
    margin-left: 24px;
    font-style: normal;
    
}

.header-nav-addr{    
    display: inline;
    float: right;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    color: #434455;
}

.header-nav-addr>ul{
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    color: #434455;
}

.header-nav-addr>li {
    display: inline;
    list-style-type: none;
    width: 150px;
    margin-right: 24px;
    margin-left: 24px;
}

.header-nav-addr .link{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #434455;
}

.header-nav-addr .link:hover{
    color: #404BBF;
}


.service-section {
    background-color: #2E2F42;
    height: 600px;
    color: #FFFFFF;
    align-content: center;
}


.main-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 550px;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.service-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 16, 32px, 16px, 32px;
    margin: 50px, auto, auto, auto;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.service-button:hover {
    background-color: #404BBF;
}

.service-button:focus {
    background-color: #404BBF;
}


.about-us {
    height: 350px;
    align-content: center;
}

.about-us-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
}

.about-us-list{
    display: block;
    list-style-type: none;
    text-align: center;
}

.about-us-div {
    display: block;
    height: 350px;
}

.about-us-li{
    display: inline-block;
    width: 264px;
    height: 96px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: left;
}

.about-us-name{
    color: #2E2F42;
    font-size: 20px;
}

.about-us-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.team {
    background-color: #F4F4FD;
    height: 732px;
    align-content: center;
}

.team-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    display: block;
    list-style-type: none;
    text-align: center;
}

.team-card {
    display: inline-block;
    width: 264px;
    height: 360px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 0px, 0px, 4px, 4px;
    box-shadow: 3px, 3px, 4px, #2E2F4229;
    background-color: #FFFFFF;
}

.description {
    text-align: center;
}

.description-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio {
    height: 1000px;
    width: 1200;
    align-content: center;
}

.portfolio-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list {
    display: block;
    list-style-type: none;
    text-align: center;
}

.portfolio-card {
    display: inline-block;
    border-style: solid;
    border-color: #E7E9FC;
    width: 360px;
    height: 420px;
    margin: 5px;
    text-align: left;
    text-indent: 3%;
}

.portfolio-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-footer {
    background-color: #2E2F42;
    height: 312px;
    align-content: center;
}

.footer-block {
    display: block;
    height: 112px;
    width: 264px;
    margin-left: 156px;
}

.webspan-footer {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
}