body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }


.header-block {
    background-color: #FFFFFF;
    color: #2E2F42;
    align-content: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 50px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.webspan {
    color: #2e2f42;
}

.heder-nav {
    font-size: 16px;
    font-weight: 700;
}



.header-nav-element {
    list-style-type: none;
    margin-left: 24px;
    margin-right: 24px;
}


.header-nav-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    color: #2E2F42;
}

.header-nav-link:hover{
    color: #404BBF;
}

.header-nav-link:active{
    color: #404BBF;
}

.header-nav-link:focus{
    color: #404BBF;
}

.header-addr {
    margin-right: 24px;
    margin-left: 24px;
    font-style: normal;
    
}

.header-nav-addr{    
    float: right;
    font-size: 16px;
    font-weight: 400;
    list-style-type: none;
    color: #434455;
}

.header-addr-element {
    list-style-type: none;
    margin-right: 24px;
    margin-left: 24px;
}

.link{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link:hover{
    color: #404BBF;
}

.link:active{
    color: #404BBF;
}

.link:focus{
    color: #404BBF;
}


.service-section {
    background-color: #2E2F42;
    color: #FFFFFF;
    align-content: center;
}


.main-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.service-button {
    margin-left: auto;
    margin-right: auto;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 50px, auto, auto, auto;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.service-button:hover {
    background-color: #404BBF;
}

.service-button:focus {
    background-color: #404BBF;
}


.about-us {
    align-content: center;
}

.about-us-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
}

.about-us-list{
    list-style-type: none;
    text-align: center;
}


.about-us-li{
    margin-left: 24px;
    margin-right: 24px;
    text-align: left;
}

.about-us-name{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.about-us-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



.team {
    background-color: #F4F4FD;
    align-content: center;
}

.team-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    list-style-type: none;
    text-align: center;
}

.team-card {
    margin-left: 24px;
    margin-right: 24px;
    background-color: #FFFFFF;
    text-align: center;
}

.description-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio {
    align-content: center;
}

.portfolio-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list {
    list-style-type: none;
    text-align: center;
}

.portfolio-card {
    border-style: solid;
    border-color: #E7E9FC;
    margin: 5px;
    text-align: left;
    text-indent: 3%;
}

.portfolio-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-footer {
    background-color: #2E2F42;
    align-content: center;
}

.webspan-footer {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}